project_id                   = "hh-preview-458395246135"
region                       = "us-east1"
foundation_state_bucket_name = "hh-preview-458395246135-foundation-tf-state"
per_pr_state_bucket_name     = "hh-preview-458395246135-per-pr-tf-state"
